.play-btn {
  background: white;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}
.play-btn span {
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 11.5px solid #EB3434;
  margin: auto;
}