@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cat-btn {
    @apply flex h-[65px] w-[300px] items-center justify-center rounded-full bg-white text-[15px] font-bold md:w-[325px];
  }

  .cat-btn-items {
    @apply pl-1 pr-[10px] font-normal text-[#9E9E9E];
  }

  .cat-items {
    @apply flex h-[260px] items-center justify-center rounded-3xl bg-cover md:h-full;
  }

  .sort-btn {
    @apply flex h-[55px] w-full items-center justify-between rounded-full border-[1px] border-[#D6D6D6] px-[30px] md:w-[238px];
  }

  .sort-popup {
    @apply absolute top-[55px] z-20 flex w-full items-center justify-between rounded-[28px] border-[1px] border-[#D6D6D6] bg-white md:w-[238px];
  }

  .red-btn {
    @apply flex h-[55px] w-full items-center justify-center rounded-[42px] bg-[#FF5454] text-[16px] uppercase text-white md:h-[65px] md:w-[225px] mt-[30px] mb-[40px];
  }

  .text-h1 {
    @apply text-[26px] font-bold md:text-[38px] text-center mt-[40px];
  }

  .text-input {
    @apply w-full h-[55px] rounded-[33px] border-[1px] border-[#9E9E9E] placeholder:py-[18px] px-[25px]
  }

  .label-input {
    @apply text-[18px] font-bold text-left mt-[20px] mb-[10px]
  }

  .footer-link {
    @apply text-[#FF5454] underline
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
