@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-menu {
    @apply absolute top-[10px] z-10 flex h-[60px] w-[calc(100%-10px)] items-center justify-between rounded-[92px] bg-black bg-opacity-[65%] text-[1rem] font-light text-white md:top-[40px] md:h-[70px] xl:w-[1170px];
  }

  .slider-small-title {
    @apply text-[16px] leading-[19px] md:text-[26px] md:leading-[32px];
  }

  .slider-big-title {
    @apply text-[34px] font-bold leading-[42px] md:text-[60px] md:leading-[97px];
  }

  .slider-register-btn {
    @apply flex h-[55px] w-[265px] cursor-pointer items-center justify-center rounded-[42px] bg-[#FF5454] text-[16px] uppercase md:h-[65px] md:w-[225px];
  }

  .cat-btn {
    @apply flex h-[65px] w-[300px] items-center justify-center rounded-full bg-white text-[15px] font-bold md:w-[325px];
  }

  .cat-btn-items {
    @apply pl-1 pr-[10px] font-normal text-[#9E9E9E];
  }

  .cat-items {
    @apply flex h-[260px] items-center justify-center rounded-3xl bg-cover md:h-full;
  }

  .sort-btn {
    @apply flex h-[55px] w-full items-center justify-between rounded-full border-[1px] border-[#D6D6D6] px-[30px] md:w-[238px];
  }

  .ul-popup {
    @apply w-full gap-[15px] pb-[15px] pt-[17px] md:pt-[12px] md:pb-[12px];
  }

  .sort-popup {
    @apply absolute top-[55px] z-20 flex w-full items-center justify-between overflow-hidden rounded-[28px] border-[1px] border-[#D6D6D6] bg-white md:w-[238px];
  }

  .red-btn {
    @apply flex h-[55px] w-[265px] items-center justify-center rounded-[42px] bg-[#FF5454] text-[16px] uppercase text-white md:h-[65px] md:w-[225px];
  }

  .text-h1 {
    @apply text-center text-[26px] font-bold md:text-[38px];
  }

  .text-input {
    @apply mt-[10px] h-[55px] w-full rounded-[33px] border-[1px] border-[#9E9E9E] px-[25px] placeholder:py-[18px];
  }

  .label-input {
    @apply text-left text-[18px] font-bold;
  }

  .footer-link {
    @apply text-[#FF5454] underline;
  }

  .text-error-input {
    @apply text-[12px] leading-[15px] text-[#FF5454];
  }

  .msg-error-input {
    @apply mt-[10px] h-[180px] w-full rounded-[33px] border-[1px] border-[#9E9E9E] py-[18px] px-[25px] md:h-[180px];
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
